* {
  padding: 0;
  margin: 0;
}

.main-container{
  width: 800px;
}

.add-ingredient{
 width: 100px; 

 cursor:pointer;
 
}

.finalize-recipe{
  width: 50%;
  
  font-size: large;

  border-radius: 30px;

  cursor: pointer;
}